@media screen and (max-width: 700px) {

	.body {
		margin: 3rem auto;
		width: 90%;
	}

	.header {
		height: 270px;
	}

	.bg-header {
		background-image: url("../images/image-header-mobile.jpg")
	}

	.container {
		text-align: center;
		padding: 2rem;
		gap: 2rem;
	}

	.bg-header, .bg_color-header {
		border-radius: 15px 15px 0 0;
	}

	.container_datas {
		flex-flow: column;
	}
}

@media screen and (min-width: 700px) {

	.body {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	.bg-header {
		background-image: url("../images/image-header-desktop.jpg")
	}

	.main {
		max-width: 1000px;
		margin: 0 3rem;
		display: grid;
		grid-template:
			"info banner" / 1fr 1fr
		;		
	}

	.header {
		grid-area: banner;
	}

	.container {
		grid-area: info;
	}

	.bg-header, .bg_color-header {
		border-radius: 0 15px 15px 0;
	}

	.container {
		padding: 5rem;
		grid-row-gap: 4rem;
	}
}